@model IEnumerable<BookStore.Model.Book>

@{
    ViewBag.Title = "www.compilemode.com";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            display: flex;
            border: 2px solid #000;
            padding: 10px;
            margin: 10px;
        }

        .box {
            flex: 1;
            border: 2px solid #ccc;
            margin: 15px;
            padding: 25px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="box">
            <div class="row" style="background-color: #0079c8; text-align:center;color:white">
                <h2> Owner and Books</h2>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <center>
                        <table class="table table-responsive" style="width:200px;margin-top:15px">
                            <tr>
                                <th style="width: 60px; background-color: #0079c8; color:white;">
                                    Owner  All Books
                                </th>
                            </tr>
                            <tr>
                                <th>Book Name</th>
                                <th> Book Type </th>
                            </tr>

                            @if (Model == null)
                            {
                               <tr>
                                   <td>
                                       No Data available
                                   </td>
                               </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>

                                            @Html.DisplayFor(modelItem => item.Name)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Type)

                                        </td>
                                    </tr>
                                }
                            }


                        </table>
                    </center>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <input type="button" class="btn btn-info" style="background-color:#0079c8" value="Home" onclick="location.href='@Url.Action("GetBooks", "Book")'" />

            </div>


        </div>
    </div>
</body>
</html>
